<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MfgServlet</servlet-name>
        <servlet-class>servlet.MfgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Projections</servlet-name>
        <servlet-class>servlet.Projections</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalCovered_MicroData</servlet-name>
        <servlet-class>servlet.TotalCovered_MicroData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAccess</servlet-name>
        <servlet-class>servlet.LoginAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CensusSearch</servlet-name>
        <servlet-class>servlet.CensusSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MfgServlet</servlet-name>
        <url-pattern>/MfgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Projections</servlet-name>
        <url-pattern>/Projections</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalCovered_MicroData</servlet-name>
        <url-pattern>/TotalCovered_MicroData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAccess</servlet-name>
        <url-pattern>/loginAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CensusSearch</servlet-name>
        <url-pattern>/CensusSearch</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
